@model WebApplication4.DataDB.Attd

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Attendance Date</label>
                <input asp-for="Date" class="form-control" id="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label">Employee ID</label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">    
                <label asp-for="Holiday" class="control-label">Holiday</label>
                <select asp-for="Holiday" class="form-control">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <span asp-validation-for="Holiday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St" class="control-label">Schedule Time</label>
                <input asp-for="St" class="form-control" />
                <span asp-validation-for="St" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tr" class="control-label">Time Record</label>
                <input asp-for="Tr" class="form-control" />
                <span asp-validation-for="Tr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nd" class="control-label">Night Differential</label>
                <input asp-for="nd" class="form-control" />
                <span asp-validation-for="nd" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    <script defer>
        window.onload = () => {
            $(function () {
                $('#date').datetimepicker();
            });

            function getTodayDateTime() {
                const d = new Date();
                const f = n => (n < 10 ? '0' : '') + n;
                const formattedDate = [d.getFullYear(), f(d.getMonth() + 1), f(d.getDate())].join('-');
                const formattedTime = [f(d.getHours()), f(d.getMinutes()), f(d.getSeconds())].join(':');
                return formattedDate + ' ' + formattedTime;
            }

            var todayDateTime = getTodayDateTime();
            document.getElementById("date").value = todayDateTime;
        };
    </script>
