@model WebApplication4.DataDB.Attd

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/attendanceedit.css" rel="stylesheet" />
<div class="container">
    <div class="row justify-content-center bg-transparent">
        <div class="col-md-4">
            <h4 class="text-center">Update Attendance</h4>
            <hr />
            <img src="~/payroll-logo.png" alt="Logo" style="width: 150px; height: 100px; background:#1C1C39; margin-bottom:1em;border-radius:100%;" />
            <form asp-action="Edit" class="bg-transparent">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AttdId" />

                <div class="form-group">
                    <label asp-for="Date" class="control-label">Attendance Date</label>
                    <input asp-for="Date" class="form-control bg-transparent border border-dark shadow-none" id="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EmpId" class="control-label small-label">Employee ID</label>
                    <input asp-for="EmpId" class="form-control bg-transparent border border-dark shadow-none" readonly />
                    <span asp-validation-for="EmpId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Holiday" class="control-label small-label">Holiday</label>
                    <select asp-for="Holiday" class="form-control bg-transparent border border-dark shadow-none">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <span asp-validation-for="Holiday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="St" class="control-label small-label">Schedule Time</label>
                    <input asp-for="St" class="form-control bg-transparent border border-dark shadow-none" />
                    <span asp-validation-for="St" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tr" class="control-label small-label">Time Record</label>
                    <input asp-for="Tr" class="form-control bg-transparent border border-dark shadow-none" />
                    <span asp-validation-for="Tr" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="nd" class="control-label small-label">Night Differential</label>
                    <input asp-for="nd" class="form-control bg-transparent border border-dark shadow-none" />
                    <span asp-validation-for="nd" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}