@model WebApplication4.DataDB.SysAcc

@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-6" style="background-color: #1C1C39;">
        <div class="h-100 w-100 d-flex justify-content-center align-items-center">
            <img src="~/payroll-logo.png" />
        </div>
    </div>

    <div class="col-lg-6 bg-white" style="height: 100vh !important">
        <div class="h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="col-8" align="left">
                <h1 class="fw-bold">Login</h1>

                <form asp-controller="Account" asp-action="Index" method="post">
                    <div class="form-group">
                        <label asp-for="Username" class="form-label mt-4">Username</label>
                        <input asp-for="Username" class="form-control" placeholder="Username" />

                        <label asp-for="Pass" class="form-label mt-2">Password</label>
                        <input asp-for="Pass" type="password" class="form-control" placeholder="Password" />
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Script to handle redirection after successful login
    @if (User.Identity.IsAuthenticated)
    {
        <text>
                window.location.href = '@Url.Action("Dashboard", "Pages")';
        </text>
    }
</script>
